.HTMLimage
{
     width: 80px
}
.nav-ul
{
	list-style: none
}

.nav-ob1
{
	 color : red;

}
.list
{
	text-decoration: none
}
a
{
	text-decoration: none;
	 color : DodgerBlue;
   align-content: center;	
}
.selectImg
{
	padding: 28px
	width: 80px;
}
.fbicon
{
	width: 80px
	
}
.footer
{
	padding: 0px
}



.nav-ob1-1-2
{
	 color : red;
}

a
{
	text-decoration: none;
	 color : DodgerBlue;
   align-content: center;	
}

.T27
{
	width: 50px
}

.nav-ob1-3
{
	 color : red;
}

a
{
	text-decoration: none;
	 color : DodgerBlue;
   align-content: center;	
}
.p1
{
	size: 32px;
	margin:4px;
    text-align: center;
	 color : blue;
	 font-weight: bold;
}

.p2
{
	size: 32px;
	margin:4px;
    text-align: center;
	 color : black;
	 font-weight: bold;
}

mark.purple
{
	color: 	gray;
	background: none;
	font-weight: bold;
}


